@layer base {
    @font-face {
        font-family: 'Roboto';
        src: local('Roboto Regular'), local('Roboto-Regular'),
        url('font/Roboto-Regular.woff2') format('woff2'),
        url('font/Roboto-Regular.woff') format('woff'),
        url('font/Roboto-Regular.ttf') format('truetype');
        font-weight: 400;
        font-style: normal;
    }
    @font-face {
        font-family: 'Roboto';
        src: local('Roboto Medium'), local('Roboto-Medium'),
        url('font/Roboto-Medium.woff2') format('woff2'),
        url('font/Roboto-Medium.woff') format('woff'),
        url('font/Roboto-Medium.ttf') format('truetype');
        font-weight: 500;
        font-style: normal;
    }
    @font-face {
        font-family: 'Roboto';
        src: local('Roboto Bold'), local('Roboto-Bold'),
        url('font/Roboto-Bold.woff2') format('woff2'),
        url('font/Roboto-Bold.woff') format('woff'),
        url('font/Roboto-Bold.ttf') format('truetype');
        font-weight: 700;
        font-style: normal;
    }
    @font-face {
        font-family: 'Roboto';
        src: local('Roboto Light'), local('Roboto-Light'),
        url('font/Roboto-Light.woff2') format('woff2'),
        url('font/Roboto-Light.woff') format('woff'),
        url('font/Roboto-Light.ttf') format('truetype');
        font-weight: 300;
        font-style: normal;
    }
}
@layer base {
    h1, .h1 {
        @apply text-4xl font-bold;
    }

    h2, .h2 {
        @apply text-xl;
    }
}
@layer components {

    /*  BUTTONS  */
    .btn-red {
        @apply bg-red text-white py-2 px-6 rounded transition duration-300 hover:bg-red-light;
    }

    .btn-like {
        @apply border border-gray rounded text-center flex items-center justify-center hover:border-red;
    }

    .btn-like svg,
    .icon-like svg {
        @apply stroke-current text-gray transition;
        fill: none;
    }

    .btn-like.active {
        @apply border-red;
    }

    .btn-like.active svg,
    .icon-like.active svg {
        @apply fill-current text-red;
    }

    .btn-like:hover svg,
    .icon-like:hover svg {
        @apply fill-current text-red-light;
    }

    .btn-play svg,
    .btn-photo svg {
        @apply stroke-current text-red transition transform hover:scale-110;
        fill: none;
    }

    .btn-basket {
        @apply flex items-center bg-red text-sm text-white relative rounded border border-red px-5 py-2 transition duration-300 hover:bg-red-light;
    }

    .btn-basket svg {
        @apply fill-current text-white;
    }

    .btn-del {
        @apply border rounded border-black text-center flex items-center justify-center transition hover:bg-red-light;
    }


    /*  ITEMS CATALOG  */
    .item-product {
        @apply block border border-gray rounded relative text-center hover:rounded-b-none hover:border-b-0 mx-3;
    }

    .item-product__info {
        @apply text-left opacity-0 absolute bottom-0 left-0 transform -translate-x-px z-20 px-5 pb-5 bg-white border-r border-l border-gray rounded-b flex flex-col text-xs font-light;
        border-bottom: 8px solid #C0384E;
        width: calc(100% + 2px);
    }

    .item-product:hover .item-product__info {
        @apply opacity-100 translate-y-full;
    }

    .item-product-main {
        @apply border border-gray mb-6 rounded relative text-center border-b-4 duration-300 hover:border-red hover:shadow-xl;
    }

    /* SIZES LABELS */
    .sizes {
        @apply flex flex-wrap;
    }

    .sizes label {
        @apply bg-gray-light border border-gray-light rounded w-12 text-xs text-center px-2 py-1 mr-2 mb-2 cursor-pointer transition hover:shadow-md;
    }

    .sizes label.checked {
        @apply bg-red text-white;
    }

    .sizes input {
        @apply hidden;
    }

    /* PAGINATION */
    .pagination {
        @apply flex items-center justify-center mb-5 w-full;
    }

    .pagination-item {
        @apply px-5 py-3 hover:bg-gray-light transition hover:shadow-md;
    }

    .pagination-item.active {
        @apply bg-gray-light;
    }

    /* SIMPLE TEXT */
    .text p {
        @apply mb-6;
    }

    /* FOOTER */
    .footer-menu a {
        @apply block text-lg font-medium mb-3 transition hover:text-red transform hover:translate-x-2;
    }

    /* SWIPER SLIDER */
    .swiper-button-prev,
    .swiper-button-next {
        @apply rounded-full bg-white shadow-md w-10 h-10 z-10 -mt-5 absolute top-1/2 flex items-center justify-center cursor-pointer;
    }

    .swiper-button-prev {
        @apply -left-5 !important;
    }

    .swiper-button-next {
        @apply -right-5 !important;
    }

    .swiper-slide .item-product {
        @apply transition hover:rounded-b hover:border-b hover:shadow-md hover:border-red;
    }

    .swiper-button-disabled {
        @apply hidden;
    }

    .swiper-button-prev::after,
    .swiper-button-next::after {
        @apply hidden;
    }

    .table-like, .table-del {
        @apply mx-auto inline-block;
    }


    /* Main */
    .one-block-slider img {
        @apply object-cover w-full h-full;
    }

    .item-category {
        @apply flex justify-center items-end overflow-hidden text-center rounded h-72 mx-2 mb-5 font-medium text-2xl shadow-xl duration-300 relative;
    }

    .item-category.two-category {
        @apply h-80;
    }

    .item-category img {
        @apply max-w-none w-full h-full object-cover;
    }

    .item-category:hover {
        @apply text-white;
    }

    .item-category span {
        @apply absolute h-full w-full flex items-end justify-center pb-4 z-10 hover:bg-red-light duration-300 hover:bg-opacity-80	;
    }

    .about-block-map {
        @apply h-96 flex flex-col justify-center items-center;
        background: url("icons/about-main-bg.png") no-repeat center;
    }

    /* Product */
    .product-sidebar-item {
        @apply flex items-center mb-2 transition hover:text-red;
    }

    .product-sidebar-item:hover img {
        @apply transition opacity-80;
    }

    .main-block-slider + .swiper-pagination {
        @apply w-full flex items-center justify-center;
    }

    .main-block-slider + .swiper-pagination .swiper-pagination-bullet {
        @apply w-5 h-5 border-gray mx-3 bg-transparent border opacity-100;
    }

    .main-block-slider + .swiper-pagination .swiper-pagination-bullet-active {
        @apply w-5 h-5;
        background: url("icons/Oval.png") no-repeat 3.5px 3.5px / 10px 10px;
    }

    /* ABOUT */
    .about-benefits img {
        @apply h-40 w-full object-cover mb-5
    }

    .about-benefits .title {
        @apply font-medium text-xl mb-4;
    }

    .advantage-item {
        @apply w-1/3;
    }

    .advantage-img {
        @apply w-16 h-16 rounded mx-auto mb-4;
    }

    .advantage-name {
        @apply text-center text-red font-medium text-2xl mb-1;
    }

    .advantage-text {
        @apply text-sm text-center;
    }


    /*  TABLE  */
    table {
        @apply border-b border-gray text-center;
    }

    table thead {
        @apply text-white bg-red;
    }

    table thead th:first-child {
        @apply rounded-l;
    }

    table thead th:last-child {
        @apply rounded-r;
    }

    table th {
        @apply p-4;
    }

    table td {
        @apply items-center p-4;
    }


    .col-number {
        @apply h-7 mx-5 flex items-center;
    }

    .table-col-price {
        @apply justify-center;
    }

    /*  CHECK INPUT  */
    input[type="radio"] {
        @apply absolute left-0 w-0 h-0 opacity-0;
    }

    input[type="radio"] + label {
        @apply inline-block relative cursor-pointer pl-10;
    }

    input[type="radio"] + label:before {
        content: "";
        @apply block w-5 h-5 rounded-full border border-gray absolute top-1 left-0;
    }

    input[type="radio"]:checked + label:before {
        @apply border-red;
    }

    input[type="radio"] + label:after {
        content: "";
        @apply absolute top-2 left-1 w-3 h-3 rounded-full bg-red opacity-0;
    }

    input[type="radio"]:checked + label:after {
        @apply opacity-100;
    }

    .main-block-slider img {
        @apply w-full h-full object-cover;
    }

    .table-basket td:first-child {
        @apply flex items-center;
    }

    .price-table p {
        @apply text-sm text-left mb-3;
    }

    .price-table th {
        @apply text-white text-left font-medium text-lg;
    }

    .price-table img {
        @apply mr-7;
    }

    /* ACCORDEON BLOCK */

    .info-link {
        @apply font-medium text-2xl relative cursor-pointer hover:text-red;
    }

    .info-link::before {
        content: '';
        @apply block absolute top-0 left-0 -ml-10 w-7 h-7 rounded-full bg-red bg-no-repeat bg-center duration-300;
        background-image: url("icons/icon-plus.svg");
        background-size: 20px;
    }

    .info-link.active::before {
        content: '';
        @apply bg-gray transform rotate-180;
        background-image: url("icons/icon-minus.svg");
    }

    .info-block-parent {
        @apply mb-4 w-3/5 pl-10;
    }

    .info-block-parent .info-text {
        @apply max-h-0 overflow-hidden duration-300;
    }

    .info-block-parent .info-text.active {
        max-height: 2000px;
    }

    .info-block-parent .info-text p {
        @apply mb-4;
    }

    .comment-block {
        @apply flex flex-wrap justify-between p-7 bg-gray-200 rounded;
    }

    .block-name-star,
    .block-city-date{
        @apply flex items-center justify-between mb-2 w-full;
    }

    .block-name-star div {
        @apply flex items-center;
    }

    .comment-text {
        @apply mb-5;
    }

    .my-answer {
        @apply text-red mb-5;
    }

    .jewelry-item {
        @apply block rounded border border-gray-light relative -top-1 bg-gray-light overflow-hidden transition hover:text-red hover:shadow-md;
    }

    .jewelry-item > img {
        @apply rounded-t object-cover w-full h-48 transition transform hover:scale-105;
    }

    .jewelry-cont {
        @apply px-5 py-6 bg-white;
    }

    .jewelry-date {
        @apply text-gray flex items-center mb-5;
    }

    .jewelry-date > span {
        @apply ml-2 text-sm;
    }

    .jewelry-name {
        @apply text-2xl font-medium mb-1.5;
    }

    .jewelry-type {
        @apply text-gray-dark;
    }

    .item-new-product {
        @apply border border-gray-200 block mx-3;
    }

    .contact-link:hover path,
    .contact-link-two:hover path {
        fill: #C0384E;
        stroke: #C0384E;
    }
    .contact-link-two:first-child:hover path:nth-child(3),
    .contact-link-two:hover path:last-child {
        fill: #fff;
    }

    #slider-comment .swiper-slide > div {
        @apply mx-3;
    }
}