@layer base {
    @font-face {
        font-family: 'Roboto';
        src: local('Roboto Regular'), local('Roboto-Regular'),
        url('font/Roboto-Regular.woff2') format('woff2'),
        url('font/Roboto-Regular.woff') format('woff'),
        url('font/Roboto-Regular.ttf') format('truetype');
        font-weight: 400;
        font-style: normal;
    }
    @font-face {
        font-family: 'Roboto';
        src: local('Roboto Medium'), local('Roboto-Medium'),
        url('font/Roboto-Medium.woff2') format('woff2'),
        url('font/Roboto-Medium.woff') format('woff'),
        url('font/Roboto-Medium.ttf') format('truetype');
        font-weight: 500;
        font-style: normal;
    }
    @font-face {
        font-family: 'Roboto';
        src: local('Roboto Bold'), local('Roboto-Bold'),
        url('font/Roboto-Bold.woff2') format('woff2'),
        url('font/Roboto-Bold.woff') format('woff'),
        url('font/Roboto-Bold.ttf') format('truetype');
        font-weight: 700;
        font-style: normal;
    }
    @font-face {
        font-family: 'Roboto';
        src: local('Roboto Light'), local('Roboto-Light'),
        url('font/Roboto-Light.woff2') format('woff2'),
        url('font/Roboto-Light.woff') format('woff'),
        url('font/Roboto-Light.ttf') format('truetype');
        font-weight: 300;
        font-style: normal;
    }
}
@layer base {
    h1, .h1 {
        @apply text-4xl font-bold;
    }
    h2, .h2 {
        @apply text-xl;
    }
}
@layer components {
    .btn-red {
        @apply bg-red text-white py-2 px-6 rounded transition-all duration-300 hover:bg-red-light;
    }
    .item-product {
        @apply border border-gray rounded overflow-hidden relative text-center;
    }
    .like {
        @apply absolute top-4 right-4 w-6 h-6;
        background: url("icons/icon-like-border.svg") no-repeat 0 0/contain;
    }
    .like.active {
        background: url("icons/icon-like.svg") no-repeat 0 0/contain;
    }
    .like-bottom {
        @apply border-2 ml-auto;
        background: url("icons/icon-like-border.svg") no-repeat center center/ 20px 22px;
    }
    .item-product:hover .block-hover {
        @apply max-h-60 border-red pb-7;
    }
    .link-play {
        @apply w-5 h-5;
        background: url("icons/link-play.svg") no-repeat 0 0/contain;
    }
    .link-play.active {
        @apply w-5 h-5;
        background: url("icons/link-photo.svg") no-repeat 0 0/contain;
    }
    .pagination-str-img {
        @apply h-12 rounded bg-gray-200 flex items-center justify-center px-5;
    }
    .pagination-str {
        @apply rounded h-12 w-12 bg-transparent flex items-center justify-center hover:bg-gray-300 duration-300;
    }
    .pagination-str.active {
        @apply bg-gray-200;
    }
    .font-light-text {
        @apply leading-6 mb-7 font-light;
    }
    .font-light {
        @apply mb-20;
    }
    .font-light-text span {
        @apply font-medium;
    }
    .item-block-footer {
        @apply w-1/5;
    }
    .block-price {
        @apply w-1/3;
    }
    .footer-title {
        @apply mb-8 font-medium text-2xl;
    }
    .footer-link {
        @apply w-max block mb-5 font-medium text-lg border-b-2 border-transparent duration-300;
    }
    .footer-link:hover {
        @apply ml-2 text-red border-red;
    }
    .soc-link {
        @apply block mr-5 rounded;
    }
    .vk {
        @apply w-9 h-9;
        background: url("icons/icon_vk.svg") no-repeat 0 0/contain;
    }
    .fb {
        @apply w-9 h-9;
        background: url("icons/icon_fb.svg") no-repeat 0 0/contain;
    }
    .inst {
        @apply w-9 h-9;
        background: url("icons/icon_instagram.svg") no-repeat 0 0/contain;
    }
    .ok {
        @apply w-9 h-9;
        background: url("icons/icon_ok.svg") no-repeat 0 0/contain;
    }
    .select-col {
        @apply appearance-none;
        background: url("icons/select-arrow.svg") no-repeat 88% center/15px 8px;
    }
    .select-sort {
        @apply appearance-none;
        background: url("icons/select-arrow.svg") no-repeat 95% center/15px 8px;
    }
    input[type="checkbox"]:checked {
        background-image: url("icons/icon-check.svg");
        background-size: 8px 6px;
        background-position: 50%;
        background-repeat: no-repeat;
    }
}